[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/ImGuiFileDialog"]
	path = libs/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot.git
