main
build
vpp
builddir
subprojects/*
!subprojects/*.wrap
!subprojects/packagefiles
.#*
vivictpp_*.snap
.dir-locals.el
compile_commands.json
.cache
.envrc
imgui.ini
prime
winlibs

winexec
.buildenv
.idea
