name: ubuntu-build
on: push
jobs:
  ubuntu-build:
    name: build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
      - name: Install ffmpeg and ssl
        run: |
          sudo apt-get update
          sudo apt-get install libfreetype6-dev libavformat-dev libavfilter-dev libavcodec-dev libswscale-dev xvfb
      - name: Meson build
        uses: BSFishy/meson-build@v1.0.3
        with:
          action: build
          meson-version: 0.63.1
          setup-options: -Duse_sdl2_subproject=true
      - name: Run tests
        run: |
          cd build
          xvfb-run ./playbackTest
      - name: Save logs
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: ubuntu-build-logs
          path: build/meson-logs

  snapcraft-publish-edge:
    needs: ubuntu-build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/snapcraft-ci'
    steps:
    - uses: actions/checkout@v2
    - uses: snapcore/action-build@v1
      id: build
    - uses: snapcore/action-publish@v1
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPSTORE_LOGIN }}
      with:
        snap: ${{ steps.build.outputs.snap }}
        release: edge
